<div class="center hero-unit">
  <div class="row-fluid">
    <div class="span12">

            <h1>Добро пожаловать!  </h1>
      <p>   Дорогие друзья, рады пригласить Вас в Клуб Единоборств "FightClubOne" - под одной крышей собираются именитые клубы,
        тренера и бойцы - специалисты самых разных направлений прикладных единоборств и боевых школ. Мы обеспечиваем
        всю необходимую инфраструктуру для полноценных и комфортных тренировок. Здесь всегда рады спортсменам и людям,
        ведущим активный образ жизни.
      <p>  "FightClubOne" - это сеть клубов для занятий спортивными и прикладными единоборствами!</p>
      <p>Недаром народная пословица гласит «В здоровом теле – здоровый дух». Сохранять душевное равновесие гораздо легче, имея здоровое тело, и это аксиома. Создавая наш спортивный клуб, мы руководствовались именно ею.
      </p>
      </p> Мы стремимся к популяризации того, во что верим! Именно поэтому занятия в клубе под силу не только самым сильным и подготовленным. Персональный подход и различные типы тренировок: от индивидуального до группового – делают искусство боя доступным также для женщин и детей. Для большей эффективности Ваших занятий отобрана команда лучших тренеров с высокими спортивными разрядами. </p>
      </p>  В Нашем Спортивном комплексе Вас ждут:

      четыре комфортабельных зала, оборудованных централизованной вентиляцией;
      удобные раздевалки и душевые;
      индивидуальные камеры хранения;
      WiFi-зона;
      мини-буфет;
      полный комплект необходимой аппаратуры;
      силовые и специальные тренажеры;
      спортивное оборудование и инвентарь.</p>
      </p>

      <iframe width="720" height="405" src="//rutube.ru/video/embed/6341290" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
      </p>
      </div>
    </div>

      </p>Присоединяйтесь! </p>
      <%= link_to "Оставить заявку на втсупление в наш клуб", "zayvkas/new",
       class: "btn btn-large btn-primary" %>
    </div>


  </div>
</div>