<div class="center hero-unit">
  <div class="row-fluid">
    <div class="span12">
      <h1>Расписание</h1>
      <p>  Расписание занятий:</p>
      <p>Понедельник - 18:30</p>
      <p>Вторник - 18:30</p>
      <p>Среда - 18:30</p>
      <p>Суббота - 20:00</p>
      <p>Воскресение - 20:00</p>

    </div>


  </div>