<div class="center hero-unit">
  <div class="row-fluid">
    <div class="span12">
      <h1>Заявка на вступление</h1>
      <p>  Добро пожаловать на сайт "Уроки игры на гитаре"!</p>
      <p>Вы хотите научиться играть на гитаре, но не знаете с чего начать? Тогда данный ресурс, предназначенный для начинающих гитаристов, будет Вам очень полезен.</p>

    </div>


  </div>