<div class="hero-unit">
<h1>Изменение фотографии</h1>

<%= render 'form' %>

<%= link_to 'Show', category_photo_path(@category, @photo) %> |
<%= link_to 'Back', category_photos_path(@category) %>

</div>